
/* Largura máxima, ou seja, que ocupa 769px da tela */
@media (max-width: 769px) {
 

  main::after {
    background: linear-gradient(0deg, #462d2d 20%, rgba(70, 45, 45, 0.5) 50%, rgba(0, 0, 0, 0) 100%) no-repeat;
    width: 100vw;
  }


  main .personagem .imagem {
    height: 80%;
    object-position: center;
    
  }
  .conteudo {
    justify-content: flex-end;
    right: 0;
    top: -15%;
    max-width: 100vw;
    padding: 30px;
  }

  .conteudo .nome-personagem  {
    font-size: 50px;
  }

  .conteudo .descricao {
    max-height: 400px;
    max-width: 400px;
    text-align: justify;
    
    
  }
  
  .botoes {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
    
  }

.botoes li {
  margin-bottom: 55px;
}

  .botoes .botao {
    width: 90px;
    height: 90px;
  }

  .botoes .botao img {
    max-width: 100px;
  }
}

@media (max-width: 425px) {
  main .personagem .imagem {
    height: auto;
  }

  .conteudo {
    top:-25%;
  }

  .botoes {
    padding: 20px;

  }


  .botoes .botão {
    
    max-width: 50px;
  }

  .conteudo .descricao {
    font-size: 15px;
  }

  

}
